@implements IDisposable

@inject NavigationManager NavigationManager

<div class="top-row ps-3 navbar navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="">OrderTrackBlazor</a>
  </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
  <nav class="flex-column">
    <div class="nav-item px-3">
      <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
        <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
      </NavLink>
    </div>
    <div class="nav-item px-3">
      <NavLink class="nav-link" href="lists" Match="NavLinkMatch.Prefix">
        <span class="bi fas fa-list-check" aria-hidden="true"></span> list
      </NavLink>
    </div>

    <div class="nav-item px-3">
      <NavLink class="nav-link " href="stock">

        <span class="bi fas fa-table" aria-hidden="true"></span> Stock
      </NavLink>
    </div>
    <div class="nav-item px-3">
      <NavLink class="nav-link " href="entity/order">

        <span class="bi fas fa-tags" aria-hidden="true"></span> Order
      </NavLink>
    </div>
    <div class="nav-item px-3">
      <NavLink class="nav-link " href="entity/product">

        <span class="bi fas fa-shop" aria-hidden="true"></span> Product
      </NavLink>
    </div>
    <div class="nav-item px-3">
      <NavLink class="nav-link " href="entity/shop">

        <span class="bi fas fa-shop" aria-hidden="true"></span> Shop
      </NavLink>
    </div>
    <div class="nav-item px-3">
      <NavLink class="nav-link " href="entity/packagesize">

        <span class="bi fas fa-shop" aria-hidden="true"></span> Package Size
      </NavLink>
    </div>
    <AuthorizeView>
      <Authorized>
        <div class="nav-item px-3">
          <NavLink class="nav-link" href="Account/Manage">
            <span class="bi bi-person-fill-nav-menu" aria-hidden="true"></span> @context.User.Identity?.Name
          </NavLink>
        </div>
        <div class="nav-item px-3">
          <form action="Account/Logout" method="post">
            <AntiforgeryToken />
            <input type="hidden" name="ReturnUrl" value="@currentUrl" />
            <button type="submit" class="nav-link">
              <span class="bi bi-arrow-bar-left-nav-menu" aria-hidden="true"></span> Logout
            </button>
          </form>
        </div>
      </Authorized>
      <NotAuthorized>
        <div class="nav-item px-3">
          <NavLink class="nav-link" href="Account/Register">
            <span class="bi bi-person-nav-menu" aria-hidden="true"></span> Register
          </NavLink>
        </div>
        <div class="nav-item px-3">
          <NavLink class="nav-link" href="Account/Login">
            <span class="bi bi-person-badge-nav-menu" aria-hidden="true"></span> Login
          </NavLink>
        </div>
      </NotAuthorized>
    </AuthorizeView>
  </nav>
</div>

@code {
  private string? currentUrl;

  protected override void OnInitialized()
  {
    currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
    NavigationManager.LocationChanged += OnLocationChanged;
  }

  private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
  {
    currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
    StateHasChanged();
  }

  public void Dispose()
  {
    NavigationManager.LocationChanged -= OnLocationChanged;
  }
}

