<Clipboard></Clipboard>
<Dialog></Dialog>
<Download></Download>
<Layout ShowFooter="ShowFooter" IsPage="true" IsFixedFooter="true" IsFixedHeader="Header!=null">
  <Header>
    @Header
  </Header>
  <Main>
    @Main
  </Main>
  <Footer>
    @Footer
  </Footer>
</Layout>