@inherits DispatchPageComponent
<div class="row g-3">
  <div class="col-6 col-sm-6">
    <Button Color="Color.Primary" Text="出库" OnClickWithoutRender="()=>CreateDispatch()" />
  </div>

</div>
<hr />
<div class="row g-3">
  @foreach (var s in Summary)
  {
    <span class="col-12 col-sm-4">状态: @s.Item1</span>
    <span class="col-12 col-sm-4">箱数: @s.Item2</span>
    <span class="col-12 col-sm-4">收入: @s.Item3</span>
  }
</div>
@foreach (var item in Dispatches)
{
  <hr />
  <ViewDispatch DTO="item"></ViewDispatch>
  <div class="col-12">
    <Button Color="Color.Success" Text="修改" OnClickWithoutRender="()=>CreateDispatch(item.Id)" />
    <Button Color="Color.Warning" Text="查看" OnClickWithoutRender="()=>ReadDispatch(item.Id)" />
  </div>
}



