@inherits DispatchPageComponent
<div class="row g-3">
  <div class="col-6 col-sm-6">
    <Button Color="Color.Primary" Text="出库" OnClickWithoutRender="()=>CreateDispatch()" />
  </div>

</div>
@foreach (var item in Dispatches)
{
  <hr />
  <ViewDispatch DTO="item"></ViewDispatch>
  <div class="col-12">
    <Button Color="Color.Success" Text="修改" OnClickWithoutRender="()=>CreateDispatch(item.Id)" />
    <Button Color="Color.Warning" Text="查看" OnClickWithoutRender="()=>ReadDispatch(item.Id)" />
  </div>
}



