@inherits OrderProductionComponent
<div class="row g-3">
  @if (DTO is not null)
  {
    <div class="col-12">
      <label class="form-label">选择一个产品</label>
      <BootstrapInputGroup>
        <Select Items="Items" @bind-Value="IItem" ShowLabel="true" DisplayText="选择一个产品" ShowSearch="true" OnSelectedItemChanged="OrderItemChange"> </Select>
        <Button Color="Color.Success" OnClickWithoutRender="CreateAndRefresh">添加产品</Button>
      </BootstrapInputGroup>

    </div>
    <div class="col-12">
      <BootstrapInputNumber @bind-Value="DTO.Quantity" ShowButton="true" Step="1" ShowLabel="true" DisplayText="数量" />
    </div>
    <div class="col-12">
      <BootstrapInputNumber @bind-Value="DTO.OrderPrice" ShowLabel="true" DisplayText="单价" />
    </div>
    <div class="col-12">
      <Select Items="ShopSelect" @bind-Value="SelectedShop" ShowLabel="true" DisplayText="推荐商店" ShowSearch="true" OnSelectedItemChanged="ShopItemChange"> </Select>
    </div>
    <div class="col-12">
      <Select Items="ShopSelect" @bind-Value="SelectedShop2" ShowLabel="true" DisplayText="推荐商店2" ShowSearch="true" OnSelectedItemChanged="ShopItemChange2"> </Select>
    </div>
    <div class="col-12">
      <BootstrapInput @bind-Value="DTO.Note" ShowLabel="true" DisplayText="备注" />
    </div>
  }
</div>