@inherits OrderProductionComponent
<div class="row g-3">
  @if (DTO is not null)
  {
    <div class="col-12">
      <Select Items="Items" @bind-Value="IItem" IsDisabled="FromTable==true" ShowLabel="true" DisplayText="选择一个产品"> </Select>
    </div>
    <div class="col-12">
      <BootstrapInputNumber @bind-Value="DTO.Quantity" ShowButton="true" Step="1" ShowLabel="true" DisplayText="数量" />
    </div>
  }
</div>