@inherits ProductionDetailComponent
@if (Production != null)
{
  <Card>
    <BodyTemplate>
      <div class="row g-3">
        <div class="col-12">
          <BootstrapInput @bind-Value="Production.ProductionName" DisplayText="商品名" ShowLabel="true"></BootstrapInput>
        </div>
        <div class="col-12">
          <BootstrapInputNumber @bind-Value="Production.OriginalPrice" DisplayText="原始价格" ShowLabel="true"></BootstrapInputNumber>
        </div>
        <div class="col-12">
          <BootstrapInput @bind-Value="Production.ExtendUrl" DisplayText="外部连接" ShowLabel="true"></BootstrapInput>
        </div>
        <InputUpload TValue="string" ShowDeleteButton="true" ShowLabel="true" DisplayText="产品图片"></InputUpload>
      </div>
    </BodyTemplate>
  </Card>
}

@* OnChange="@OnFileChange" OnDelete="@OnFileDelete" *@
