@inherits ProductionDetailComponent
@if (Production != null)
{
  <Card>
    <BodyTemplate>
      <div class="row g-3">
        <div class="col-12">
          <Select Items="Categories" @bind-Value="SelectedCategory" OnSelectedItemChanged="CategoryChange" ShowLabel="true" DisplayText="选择品类"> </Select>
        </div>
        <div class="col-12">
          <BootstrapInput @bind-Value="Production.ProductionName" DisplayText="商品名" ShowLabel="true"></BootstrapInput>
        </div>
        <div class="col-12">
          <BootstrapInputNumber @bind-Value="Production.OriginalPrice" DisplayText="原始价格" ShowLabel="true"></BootstrapInputNumber>
        </div>
        <div class="col-12">
          <BootstrapInputNumber @bind-Value="Production.WeightGrem" DisplayText="重量" ShowLabel="true"></BootstrapInputNumber>
        </div>
        <div class="col-12">
          <BootstrapInput @bind-Value="Production.ExtendUrl" DisplayText="外部连接" ShowLabel="true"></BootstrapInput>
        </div>
        <div class="col-12">
          <BootstrapInputGroup>
            <Avatar Url="@Production.Attachment" Size="Size.Medium" />
            @if (!String.IsNullOrEmpty(Production.Attachment))
            {
              <Button Color="Color.Danger" OnClickWithoutRender="()=>OnFileDelete()">删除</Button>
            }
            <InputUpload TValue="string" ShowDeleteButton="false" OnChange="@OnFileChange" ShowLabel="true" DisplayText="产品图片"></InputUpload>

          </BootstrapInputGroup>

        </div>

      </div>
    </BodyTemplate>
  </Card>
}

@* OnChange="@OnFileChange" OnDelete="@OnFileDelete" *@
